# Force GitHub Linguist to show 100% Java
* linguist-language=Java
*.kt linguist-vendored
*.kts linguist-vendored
*.xml linguist-vendored
*.json linguist-vendored
*.java linguist-detectable=true linguist-language=Java
